<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.reward.infrastructure.persistence.dao.mapper.RewardPointRecordDOMapper">
  <resultMap id="BaseResultMap" type="com.star.reward.infrastructure.persistence.dao.entity.RewardPointRecordDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="record_no" jdbcType="VARCHAR" property="recordNo" />
    <result column="point_type" jdbcType="VARCHAR" property="pointType" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="belong_to" jdbcType="VARCHAR" property="belongTo" />
    <result column="belong_to_id" jdbcType="BIGINT" property="belongToId" />
    <result column="related_id" jdbcType="VARCHAR" property="relatedId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_by_id" jdbcType="BIGINT" property="createById" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, record_no, point_type, amount, belong_to, belong_to_id, related_id, description,
    create_by, create_by_id, create_time
  </sql>
  <select id="selectByExample" parameterType="com.star.reward.infrastructure.persistence.dao.entity.RewardPointRecordDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from reward_point_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from reward_point_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="countByExample" parameterType="com.star.reward.infrastructure.persistence.dao.entity.RewardPointRecordDOExample" resultType="java.lang.Long">
    select count(*) from reward_point_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from reward_point_record where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.star.reward.infrastructure.persistence.dao.entity.RewardPointRecordDOExample">
    delete from reward_point_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.star.reward.infrastructure.persistence.dao.entity.RewardPointRecordDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into reward_point_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordNo != null">record_no,</if>
      <if test="pointType != null">point_type,</if>
      <if test="amount != null">amount,</if>
      <if test="belongTo != null">belong_to,</if>
      <if test="belongToId != null">belong_to_id,</if>
      <if test="relatedId != null">related_id,</if>
      <if test="description != null">description,</if>
      <if test="createBy != null">create_by,</if>
      <if test="createById != null">create_by_id,</if>
      <if test="createTime != null">create_time,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordNo != null">#{recordNo,jdbcType=VARCHAR},</if>
      <if test="pointType != null">#{pointType,jdbcType=VARCHAR},</if>
      <if test="amount != null">#{amount,jdbcType=DECIMAL},</if>
      <if test="belongTo != null">#{belongTo,jdbcType=VARCHAR},</if>
      <if test="belongToId != null">#{belongToId,jdbcType=BIGINT},</if>
      <if test="relatedId != null">#{relatedId,jdbcType=VARCHAR},</if>
      <if test="description != null">#{description,jdbcType=VARCHAR},</if>
      <if test="createBy != null">#{createBy,jdbcType=VARCHAR},</if>
      <if test="createById != null">#{createById,jdbcType=BIGINT},</if>
      <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
    </trim>
  </insert>
  <insert id="insert" parameterType="com.star.reward.infrastructure.persistence.dao.entity.RewardPointRecordDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into reward_point_record (record_no, point_type, amount, belong_to, belong_to_id, related_id, description, create_by, create_by_id, create_time)
    values (#{recordNo,jdbcType=VARCHAR}, #{pointType,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{belongTo,jdbcType=VARCHAR}, #{belongToId,jdbcType=BIGINT}, #{relatedId,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createById,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update reward_point_record
    <set>
      <if test="row.recordNo != null">record_no = #{row.recordNo,jdbcType=VARCHAR},</if>
      <if test="row.pointType != null">point_type = #{row.pointType,jdbcType=VARCHAR},</if>
      <if test="row.amount != null">amount = #{row.amount,jdbcType=DECIMAL},</if>
      <if test="row.belongTo != null">belong_to = #{row.belongTo,jdbcType=VARCHAR},</if>
      <if test="row.belongToId != null">belong_to_id = #{row.belongToId,jdbcType=BIGINT},</if>
      <if test="row.relatedId != null">related_id = #{row.relatedId,jdbcType=VARCHAR},</if>
      <if test="row.description != null">description = #{row.description,jdbcType=VARCHAR},</if>
      <if test="row.createBy != null">create_by = #{row.createBy,jdbcType=VARCHAR},</if>
      <if test="row.createById != null">create_by_id = #{row.createById,jdbcType=BIGINT},</if>
      <if test="row.createTime != null">create_time = #{row.createTime,jdbcType=TIMESTAMP},</if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update reward_point_record
    set record_no = #{row.recordNo,jdbcType=VARCHAR}, point_type = #{row.pointType,jdbcType=VARCHAR}, amount = #{row.amount,jdbcType=DECIMAL}, belong_to = #{row.belongTo,jdbcType=VARCHAR}, belong_to_id = #{row.belongToId,jdbcType=BIGINT}, related_id = #{row.relatedId,jdbcType=VARCHAR}, description = #{row.description,jdbcType=VARCHAR}, create_by = #{row.createBy,jdbcType=VARCHAR}, create_by_id = #{row.createById,jdbcType=BIGINT}, create_time = #{row.createTime,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.star.reward.infrastructure.persistence.dao.entity.RewardPointRecordDO">
    update reward_point_record
    <set>
      <if test="recordNo != null">record_no = #{recordNo,jdbcType=VARCHAR},</if>
      <if test="pointType != null">point_type = #{pointType,jdbcType=VARCHAR},</if>
      <if test="amount != null">amount = #{amount,jdbcType=DECIMAL},</if>
      <if test="belongTo != null">belong_to = #{belongTo,jdbcType=VARCHAR},</if>
      <if test="belongToId != null">belong_to_id = #{belongToId,jdbcType=BIGINT},</if>
      <if test="relatedId != null">related_id = #{relatedId,jdbcType=VARCHAR},</if>
      <if test="description != null">description = #{description,jdbcType=VARCHAR},</if>
      <if test="createBy != null">create_by = #{createBy,jdbcType=VARCHAR},</if>
      <if test="createById != null">create_by_id = #{createById,jdbcType=BIGINT},</if>
      <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.star.reward.infrastructure.persistence.dao.entity.RewardPointRecordDO">
    update reward_point_record
    set record_no = #{recordNo,jdbcType=VARCHAR}, point_type = #{pointType,jdbcType=VARCHAR}, amount = #{amount,jdbcType=DECIMAL}, belong_to = #{belongTo,jdbcType=VARCHAR}, belong_to_id = #{belongToId,jdbcType=BIGINT}, related_id = #{relatedId,jdbcType=VARCHAR}, description = #{description,jdbcType=VARCHAR}, create_by = #{createBy,jdbcType=VARCHAR}, create_by_id = #{createById,jdbcType=BIGINT}, create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
